{{> header}}
<div class="container-fluid bg-primary py-5 bg-header-detail" style="margin-bottom: 20px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Liên Hệ</h1>
            <a href="/" class="h5 text-white">Trang chủ</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Liên hệ</a>
        </div>
    </div>
</div>
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Liên hệ chúng tôi</h5>
            <h1 class="mb-0">Nếu bạn có bất kỳ câu hỏi nào hãy liên hệ với chúng tôi</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Số điện thoại</h5>
                        <h4 class="text-primary mb-0">0839 882 883</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Email </h5>
                        <h4 class="text-primary mb-0">chungnhan@dgb.com.vn</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Địa chỉ</h5>
                        <h4 class="text-primary mb-0">Số 35, ngách 93/15, phố Yên Sở, quận Hoàng Mai, Hà Nội
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">

                <div class="row g-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control border-0 bg-light px-4" placeholder="Tên của bạn"
                            style="height: 55px;" id="sendername">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control border-0 bg-light px-4" placeholder="Email"
                            style="height: 55px;" id="replyto">
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control border-0 bg-light px-4" placeholder="Số điện thoại"
                            style="height: 55px;" id="sdt">
                    </div>
                    <div class="col-12">
                        <textarea class="form-control border-0 bg-light px-4 py-3" rows="4"
                            placeholder="Để lại lời nhắn cho chúng tôi" id="message"></textarea>
                    </div>
                    <div class="col-12">
                       
                     
                        <button class="btn btn-primary w-100 py-3" type="submit" onclick="Lienhe()">Gửi thông
                            tin</button>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.70255256923286!2d105.86933948556153!3d20.967753254671592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad7c85b41471%3A0xa6dabfa390b5f1b5!2zQ8O0bmcgVHkgVG5oaCBUxrAgVuG6pW4gVsOgIFBow6F0IFRyaeG7g24gROG7i2NoIFbhu6UgQ8O0bmcgTmdo4buHIEzDom0gSOG6o2k!5e0!3m2!1svi!2s!4v1701166097754!5m2!1svi!2s"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script>

    function Lienhe() {
        (function () {
            emailjs.init("Wzp9TzBJKe-KQO-Tx"); // Account Public Key
        })();
        var sendername = document.querySelector('#sendername').value
        //   subject: document.querySelector('#subject').value
        var sdt = document.querySelector('#sdt').value
        var replyto = document.querySelector('#replyto').value
        var message = document.querySelector('#message').value
        var params = {
            sendername: sendername,
            sdt: sdt,
            replyto: replyto,
            message: message,
        };
        var serviceID = "service_9c5p6fm"; // Email Service ID
        var templateID = "template_rf3pnkz"; // Email Template ID
        if (sendername && sdt && replyto && message) {
            emailjs.send(serviceID, templateID, params)
                .then(res => {
                   
                    alert('d')
                })
                .catch();
        }

    }
</script>