<main>
    <div class="container">
        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>404</h1>
            <h2>Page bạn đang tìm kiếm không tồn tại</h2>
            <img src="/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
            <div class="credits">
            </div>
        </section>
    </div>
</main><!-- End #main -->