<footer id="footer" class="footer-admin">
    <div class="copyright">
        &copy; Công ty <strong><span>DGB</span></strong>
    </div>
    <div class="credits">
        Quản lý Website công ty DGB
    </div>
</footer><!-- End Footer -->