<div id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner"></div>
</div>
<header id="header" class="header-admin fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      {{!-- <img src="/img/logo1.png" alt="" style=""> --}}
      <span class="d-none d-lg-block">
        Quản lý DGB
      </span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" id="paginationForm" action="/admin/bai-viet" method="get">
      <input type="text" name="search" placeholder="Search" title="Enter search keyword" value="{{ searchTerm }}">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->
</header><!-- End Header -->