{{> headerAdmin}}
{{> sidebar}}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Trang cá nhân</h1>

    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="/img/admin.png" alt="Profile" class="rounded-circle">
                        <span></span>
                        <h2 id="userlogin"></h2>

                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-overview">Thay
                                    đổi mật khẩu</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <!-- Change Password Form -->
                            <form action="/user/changepass" method="POST" class="form row" id="form-1">
                                <div class="form-group  mt-3">
                                    <label for="password" class="form-label">Mật khẩu của bạn :</label>
                                    <input type="password" class="form-control" id="currentpassword" placeholder=""
                                        name="currentpassword">
                                    <span class="form-message" id=""></span>
                                </div>
                                <div class="form-group  mt-3">
                                    <label for="password" class="form-label">Mật khẩu mới :</label>
                                    <input type="password" class="form-control" id="password" placeholder=""
                                        name="password">
                                    <span class="form-message" id=""></span>
                                </div>
                                <div class="form-group  mt-3">
                                    <label for="password" class="form-label"> Nhập lại mật khẩu mới :</label>
                                    <input type="password" class="form-control" id="confirmation" placeholder=""
                                        name="confirmation">
                                    <span class="form-message" id=""></span>
                                </div>
                                <div class="box-center mt-4">
                                    <button class="btn btn-primary w-50 " type="submit">Thay Đổi
                                    </button>
                                </div>
                                <div class="box-center mt-4">
                                    <div id="message"></div>
                                </div>
                            </form>
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
        </div>
    </section>
</main><!-- End #main -->
{{> footerAdmin}}
<script src="/js/validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script>
    //get name user
    var getUser = JSON.parse(localStorage.getItem('User'))
    var message = document.getElementById('message')
    var user = document.getElementById('userlogin')
    user.innerHTML = getUser
    var fromsubmit = document.forms['form-1']
    Validator({
        form: '#form-1',
        selectform: '.form-group',
        error: ".form-message",
        rules: [
            Validator.isNewPassWord('#currentpassword'),
            Validator.isPassWord('#password', 8),
            Validator.isConfirmation('#confirmation', function () {
                return document.getElementById('password').value
            })
        ],
        //submit form
        onSubmit: function (data) {
            // submit to sever
            $.ajax({
                url: '/user/changepass',
                type: 'POST',
                data: {
                    //mã hóa mật khẩu trước khi gửi qua ajax
                    currentpassword: CryptoJS.SHA256($('#currentpassword').val()).toString(),
                    password: CryptoJS.SHA256($('#password').val()).toString(),
                },
            }).then(data => {
                message.innerHTML = data.message
            })
                .catch((err) => {
                    console.log(err)
                })

        }
    });
</script>