<div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<main class="color-background">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">Công ty DGB</span>
                            </a>
                        </div><!-- End Logo -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Quên mật khẩu</h5>
                                    <p class="text-center small">Nhập Email của bạn</p>
                                </div>
                                <form action="/user/forgot" method="POST" class="form row" id="form-1">
                                    <div class="form-group  mt-3">
                                        <label for="email" class="form-label">Email :</label>
                                        <input type="text" class="form-control" id="email"
                                            placeholder="example@gmail.com" name="email">
                                        <span class="form-message"></span>
                                    </div>
                                    <div class="box-center mt-4">
                                        <button class="btn btn-primary w-50 " type="submit" id="button">Xác nhận
                                        </button>
                                    </div>
                                </form>
                                <div class="col-12 box-center mt-3">
                                    {{#if done}}
                                    <div class="alert alert-success">
                                        Email đã được gửi thành công
                                    </div>
                                    {{/if}}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
</body>
<script src="/js/validate.js"></script>
<script>
    var fromsubmit = document.forms['form-1']
    Validator({
        form: '#form-1',
        selectform: '.form-group',
        error: ".form-message",
        rules: [
            Validator.isEmail('#email'),
        ],
        onSubmit: function (data) {
            fromsubmit.submit()
        }
    });
</script>