<div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<main class="color-background">
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="/" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <h1 class="d-none d-lg-block">Công ty DGB</h1>
                            </a>
                        </div><!-- End Logo -->
                        <div class="card mb-3 ">
                            <div class="card-body">
                                <div class="pt-2 ">
                                    <h5 class="card-title text-center pb-0 fs-4">Tạo tài khoản</h5>
                                    <p class="text-center small">Nhập thông tin của bạn</p>
                                </div>
                                <form action="/user/register" method="POST" class="form row" id="form-1">
                                    <div class="form-group  mt-2 ">
                                        <label for="name" class="form-label">Tên Đăng Nhập :</label>
                                        <input type="text" class="form-control" id="username" placeholder="NguyenVanA"
                                            name="username">
                                        <span class="form-message" id=""></span>
                                    </div>
                                    <div class="form-group  mt-2">
                                        <label for="email" class="form-label">Email :</label>
                                        <input type="text" class="form-control" id="email"
                                            placeholder="example@gmail.com" name="email">
                                        <span class="form-message"></span>
                                    </div>
                                    <div class="form-group  mt-2">
                                        <label for="password" class="form-label">Mật khẩu :</label>
                                        <input type="password" class="form-control" id="password" placeholder=""
                                            name="password">
                                        <span class="form-message" id=""></span>
                                    </div>
                                    <div class="form-group  mt-2">
                                        <label for="password" class="form-label"> Nhập lại mật khẩu :</label>
                                        <input type="password" class="form-control" id="confirmation" placeholder=""
                                            name="confirmation">
                                        <span class="form-message" id=""></span>
                                    </div>
                                    <div class="box-center mt-4">
                                        <button class="btn btn-primary w-50 " type="submit">Đăng ký</button>
                                    </div>
                                    <div class="mt-4 box-center">
                                        <p class="small mb-0">Bạn đã có tài khoản? <a href="/user/login">Đăng
                                                nhập</a></p>


                                    </div>
                                    <br>
                                    <div class="text-center" id="message" style="color: darkgreen;"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
<script src="/js/validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script>
    var fromsubmit = document.forms['form-1']

    const messageDiv = document.getElementById('message');

    Validator({
        form: '#form-1',
        selectform: '.form-group',
        error: ".form-message",
        rules: [
            Validator.isRequired('#username'),
            //  Validator.isRequired('#file'),
            Validator.isEmail('#email'),
            Validator.isPassWord('#password', 8),
            Validator.isConfirmation('#confirmation', function () {
                return document.getElementById('password').value
            })
        ],
        onSubmit: function (data) {
            $.ajax({
                url: '/user/register',
                type: 'POST',
                data: {
                    username: $('#username').val(),
                    //mã hóa mật khẩu trước khi gửi qua ajax
                    password: CryptoJS.SHA256($('#password').val()).toString(),
                    email: $('#email').val(),
                },
            }).then(data => {
                if (data.message_error) {
                    messageDiv.innerHTML = data.message_error
                }

                else if (data.message_success) {
                    messageDiv.innerHTML = data.message_success
                    setTimeout(() => {
                        window.location.replace('/user/login')
                    }, 2000)
                }

            })
                .catch(err => {
                    console.log(err)
                })
        },
    });
</script>
</body>